.popup {
    position: absolute;
    display: flex;
    top: 80px;
    right: 0;
    margin: 1rem;
    border: 3px solid black;
    width: 50vw;
    min-height: 30vh;
    border-radius: 1rem;
    background-color: rgba(245,245,245,0.97);
}

/* Define a div inside the popup that centers all content*/
div.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.popup ol {
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

.popup li {
    margin: 0 1rem;
}


.popup form {
    width: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}