label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    max-width: 700px;
  }
  
  .surveyElement {
    margin: 1em 0 2em 40px;
  }
  
  select.surveyElement {
    width: 200px;
  }
  
  .horizontal {
    display: flex;
    padding: 0;  
  }
  
  .horizontal li {
    margin: 0;
    padding: 0;
  }
  
  .vertical {
    display: block;
    padding: 0;
  }
  
  .vertical li{
    margin: 0 0 0.5em -0.5em;
  }
  
  .surveyElement li {
    list-style-type: none;
  }